<div style="background-color:white"><center>
    <img src="Q3.jpg" alt="Cat" />
</center></div>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv', index_col=0)
df

        % брака  Стоимость продукции
№ цеха
1           0.8                125.9
2           1.2                154.3
3           0.5                200.8

In [4]:
print(sum(df['% брака']) / len(df))

0.8333333333333334