<div style="background-color:white"><center>
    <img src="Q1.jpg" alt="Cat" />
</center></div>

In [12]:
import pandas as pd

<h3> First we read the data from the data.csv file</h3>

In [13]:
dataFrame = pd.read_csv("data.csv")
dataFrame

    Data
0      3
1      2
2      5
3      4
4      6
5      5
6      3
7      2
8      4
9      3
10     4
11     2
12     3
13     2
14     5
15     2
16     3
17     4
18     2
19     5
20     7
21     6

<h3>This next line <span color="red">df[count]</span> creates two columns <span color="red">(Data, Count)</span> and it counts the number of time each number in count reoccurs. The nest line <span color="red">df.groupby()</span> sorts the Data according to the count value and also it removes duplicates</h3>

In [14]:

dataFrame["Count"] = dataFrame.groupby("Data")['Data'].transform("count") 
dataFrame = dataFrame.groupby(['Data']).head(1).sort_values(by=["Data"]).reset_index(drop=True)
dataFrame

   Data  Count
0     2      6
1     3      5
2     4      4
3     5      4
4     6      2
5     7      1

<h3>dataFrame.assign(RelFreq=...): </h3>
This part creates a new column named 'RelFreq' in the DataFrame `dataFrame`. Whatever expression follows the equal sign (`=`) will determine the values of this new column.

<h3>lambda x: ...: </h3>
This is a lambda function, which is an anonymous function used here to calculate values for the new column. The `x` represents each row of the DataFrame.

<h3>(x['Data']/x['Count']): </h3>
This is the calculation being performed on each row of the DataFrame. It divides the value in the 'Data' column by the value in the 'Count' column for each respective row.

In [16]:
dataFrame = dataFrame.assign(RelFreq=lambda x: (x['Data']/x['Count']))
dataFrame

   Data  Count   RelFreq
0     2      6  0.333333
1     3      5  0.600000
2     4      4  1.000000
3     5      4  1.250000
4     6      2  3.000000
5     7      1  7.000000