<div style="background-color:white"><center>
    <img src="Q4.jpg" alt="Cat" />
</center></div>

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('data.csv', index_col=0)
df

                Число транспорта
Длина маршрута
8<                           3.0
8-10                        12.8
10-12                       15.2
12-14                       15.3
14-16                       38.0
16-18                       10.4
>18                          5.3

In [32]:
most_freq = df.loc[df['Число транспорта'] == max(df['Число транспорта'])]
most_freq_val = mod.index[0]
most_freq_val

'14-16'

In [11]:
bottom_freq = 14
cur_freq = 38
prev_freq = 15.3
next_freq = 10.4
h = 2
mod_val = bottom_freq + ((cur_freq - prev_freq)/((cur_freq - prev_freq) + (cur_freq - next_freq))) * h
mod_val

14.902584493041749

In [16]:
# Ранжирование
cdf = df.cumsum()
cdf

                Число транспорта
Длина маршрута
8<                           3.0
8-10                        15.8
10-12                       31.0
12-14                       46.3
14-16                       84.3
16-18                       94.7
>18                        100.0

In [36]:
bottom_freq + (((max(cdf['Число транспорта']) / 2) + cdf.loc[most_freq_val]['Число транспорта']) / cur_freq) * h

21.068421052631578