<div style="background-color:white"><center>
    <img src="Q2.jpg" alt="Cat" />
</center></div>

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("data.csv", index_col=0)
df

        Удельный вес мужчин (%)  Общее число рабочих (%)
№ цеха
1                          52.3                     31.6
2                          66.4                     25.8
3                          33.8                     42.6

In [5]:
print(
    f"Удельный вес в целом: {sum((df['Удельный вес мужчин (%)'] * df['Общее число рабочих (%)']) / sum(df['Общее число рабочих (%)']))}%")

Удельный вес в целом: 48.0568%