<div style="background-color:white"><center>
    <img src="Q1.jpg" alt="Cat" />
</center></div>

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("data.csv", index_col=0)
df

,Количество зданий,Размер жилой площади,Количество проживающих,Плотность заселения
Этажи,,,,
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN